#wrap{
	padding:10px;
	font-size:0;
	width:1450px;
	margin:0 auto;
}
header{
	padding:10px;
	width:100%;
	background-color:black;
	color:white;
	border:1px solid black;
}

header > div{
	display:inline-block;
}

header > div:nth-child(1){
	font-size:30px;
	font-weight:bold;
}

header > div:nth-child(2){
	float:right;
}

section{
	width:100%;
	border:1px solid black;
	font-size:20px;
	padding:10px;
}
.btn_box {
	margin-top:20px;
	width:270px;
}
.btn_box > input{
	width:100%;
	height:30px;
	display:inline-block; 
	cursor:pointer;
}




/* 5 */
.btn-5 {
  background: #000;
  color: #fff;
  padding: 0;
  border: none;
}
.btn-5:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}



/* 7 */
.btn-7 {
  color: #fff;
  padding: 0;
  border: none;
  z-index: 1;
   -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor:pointer;
}
.btn-7:hover {
  background: lightgreen;
  color: #000;
}
.btn-7:before,
.btn-7:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 50%;
  right: 0;
  z-index: -1;
  background: #000;
  transition: all 0.3s ease;
}
.btn-7:before {
  top: 0;
}
.btn-7:after {
  bottom: 0;
}
.btn-7:hover:before,
.btn-7:hover:after {
  height: 0;
  background-color: #000;
}


.add{
	width:120px;
	height:40px;
	background-color:white;
	color:black;
}