
body {
    text-align: center;
}

#wrap {
    border: 1px solid red;
    display: inline-block;
    margin-top: 100px;
    width: 1000px;
}

#login_header{
    font-size: 100px;
}

#login_id {
    margin-top: 50px;
}