/* 기본 바디 설정 */
body {
    background-color: #f1f1f1;
    width:100%;
    height:100%;
}

/* 로그인 입력창 크기 */
#wrap {
	background-color: white;
	width:30%;
	height:100vh;
	margin:0 auto;
	padding:20px;
	padding-left:70px;
	padding-right:70px;
}

.id_wrap > input{
	margin-top:10px;
	width:100%;
	height:35px;
}
.pw_wrap {
	margin-top:20px;
}
.pw_wrap > input{
	margin-top:5px;
	width:100%;
	height:35px;
}

.btn_wrap > input{
	margin-top:5px;
	width:100%;
	height:45px;
}
.btn_wrap{
	margin-top:10px;
}