<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="mypage.css" type="text/css">
    <script type="text/javascript" src="mypage.js"></script>
</head>
<body>
    <div id="wrap">
        <h1>My Page</h1>
        <div id="top">
            <div>사진</div>
            <div>닉네임, 가입일, 회원정보변경버튼</div>
            <div>포인트</div>
        </div>
        <div id="bottom">
            <div>주문내역조회</div>
            <div>최근본상품</div>
            <div>장바구니</div>
            <div>구매후기</div>
            <div>상품문의</div>
            <div>좋아요</div>
            <div>표시창</div>
        </div>
    </div>
</body>
</html>