
/* �긽�떒諛� */

header {
    border: 1px solid red;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    padding: 10px;
}

header > div {
    display: inline-block;
    font-size: 20px;
    
}
header > div > a {
    text-decoration: none;
    color: black;
}

/* 蹂몃Ц */
section{
    border: 1px solid red;
    height: 800px;
    font-size: 0;
    
    
}
section > *{
    vertical-align: top;
    border: 1px solid red;
    display: inline-block;
    
}

section > article {
    /* border �궘�젣�썑 width:80%�쑝濡� �닔�젙 */
    width: 79%;
    height: 100%;
}


/* 蹂몃Ц�쁺�뿭1(�궗�씠�뱶, �꺆) */
.main_tab{
    font-size: 10px;   
    width: 10%;
    height: 100%;
}


/* 蹂몃Ц�쁺�뿭2(�옲�궧) */
.main_ranking{
    font-size: 10px;
    width: 100%;
    height: 50%;
}

/* 蹂몃Ц�쁺�뿭3(�썑湲�) */
.main_review{
    font-size: 10px;
    width: 100%;
    height: 50%;
}




/* 濡쒓퀬 諛뺤뒪 */
.logo_div{
    width: 100px;
}

/* 濡쒓렇�씤 諛뺤뒪 */
.login_div{
    float: right;
}
.login_div > div{
    display: inline-block;
}
.login_div a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}

/* �븘肄붾뵒�뼵 */
details {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: .5em .5em 0;
    margin-bottom: 1em;
}
summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
}
details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
    background-color: #fff0c0;
    border-radius: 10px 10px 0 0;
}


/* �씠誘몄� �뒳�씪�씠�뱶 */

