article{
	font-size:20px;
	
}
.product_image{
	width:50%;
}
.product_image img{
	width:100%;
}
.product_info{
	width:40%;
	
}
.product_box > div{
	display:inline-block;
	vertical-align:top;
	padding:20px;
}
section{
	margin-top:30px;
	height: auto;
}
.product_content{
	margin-top : 40px;
}


.product_name{
	font-size:40px;
	margin-bottom:20px;
}


.product_option{
	margin-top:30px;
	width:100%;
	height:40px;
}
.product_rate{
	margin-top:30px;
}

#product_cart{
	margin-top:20px;
	width:100%;
	height:50px;
	cursor:pointer;
}
#product_pay{
	margin-top:20px;
	width:100%;
	height:50px;
	cursor:pointer;
}

#pay_alert{
	margin-top:20px;
	width:100%;
	height:50px;
	cursor:pointer;
}

#cart_alert{
	margin-top:20px;
	width:100%;
	height:50px;
	cursor:pointer;
}



#up, #down{
	vertical-align:middle;
	width:20px;
	height:20px;
	color:white;
	cursor:pointer;
}


/* 5 */
.btn-5 {
  background: #000;
  color: #fff;
  padding: 0;
  border: none;
}
.btn-5:hover {
  background: transparent;
  color: #000;
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}





.btn_open, .btn_close{
	
	width:100%;
	height:50px;
	text-align:center;
	line-height:50px;
	cursor:pointer;
}

.showstep1{
   max-height: 600px;
   overflow: hidden;
   margin-top:30px;
}

.content{
    height: auto;
    margin-top:20px;
    border:2px solid #eeeeee;
}
.hide{
    display: none;
}



/* 1 */
.btn-1 {
  transition: all 0.3s ease;
  background-color:#000;
  color:white;
  cursor:pointer;
}
.btn-1:hover {
   box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
#paging{
	margin-top:30px;
	text-align:center;
}
#paging > div {
	display: inline-block;
	margin-right:5px;
}